<?php
/**
 * @var \Avanti\FreeShipping\Block\Cart\FreeShippingBar $block
 */
/** @var \Avanti\FreeShipping\ViewModel\FreeShipping $viewModel */

$viewModel = $block->getViewModel();
$infos = $viewModel->getInfos();

if ($viewModel->moduleEnable()): ?>
    <div class="block-free-shipping">
        <span>
            <i class="icon-shipping"></i>
            <span <?php if($infos['percentValue'] == '100%') echo 'class="upper"' ?> >
                <?= $infos['percentValue'] == '100%' ? __('Free Shipping') : sprintf(__('%s left for free shipping'), $infos['valueRemaining']) ?>
            </span>
        </span>
        <div class="shipping-percent" style="width: <?= $infos['percentValue']; if($infos['percentValue'] == '100%') echo '; border-radius: 0' ?>"></div>
    </div>
<?php endif; ?>
