<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Order Summary'" class="title"></span>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <!-- ko if: getInfosFreeShipping().isModuleEnabled -->
    <div class="block-free-shipping">
        <span>
            <i class="icon-shipping"></i>
            <!-- ko if: getInfosFreeShipping().percentValue == '100%' -->
            <!-- ko i18n: 'FREE SHIPPING' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getInfosFreeShipping().percentValue != '100%' -->
            <strong data-bind="html: getInfosFreeShipping().valueRemaining"></strong>
            <!-- ko i18n: ' left for free shipping' --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- ko if: getInfosFreeShipping().percentValue == '100%' -->
        <div class="shipping-percent full"
             data-bind="attr: {style: 'width:' + getInfosFreeShipping().percentValue }"></div>
        <!-- /ko -->
        <!-- ko if: getInfosFreeShipping().percentValue != '100%' -->
        <div class="shipping-percent" data-bind="attr: {style: 'width:' + getInfosFreeShipping().percentValue }"></div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>