//Minicart
& when (@media-common = true) {
    .header.content {
        .minicart-wrapper {
            .block-minicart {
                padding-top: 0;
                .block-content {
                    .free-shipping-wrapper {
                        order: 4;
                        width: 100%;
                        margin-top: 20px;
                        .block-free-shipping {
                            margin-left: 10px;
                            padding: 9px 20px;
                            width: 290px;
                            background-color: #c1c1c1;
                            color: white;
                            position: relative;

                            > span {
                                z-index: 1;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                > * {
                                    margin: 0 3px;
                                }
                            }

                            .shipping-percent {
                                position: absolute;
                                height: 100%;
                                background: green;
                                left: 0;
                                top: 0;
                                border-radius: 0 20px 20px 0;

                                &.full {
                                    border-radius: 0;
                                }
                            }

                            i {
                                font-size: 1.3em;

                                &:before {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Cart
& when (@media-common = true) {
    .checkout-cart-index {
        .cart-container {
            .cart-summary {
                .block-free-shipping {
                    margin-bottom: 20px;
                    padding: 9px 20px;
                    width: 235px;
                    background-color: #c1c1c1;
                    color: white;
                    position: relative;

                    > span {
                        z-index: 1;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .shipping-percent {
                        position: absolute;
                        height: 100%;
                        background: green;
                        left: 0;
                        top: 0;
                        border-radius: 0 20px 20px 0;
                    }

                    i {
                        margin-right: 10px;
                        font-size: 1.3em;

                        &:before {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

//Checkout
& when (@media-common = true) {
    .opc-block-summary {
        .block-free-shipping {
            margin-left: -20px;
            padding: 9px 20px;
            width: 100%;
            margin-bottom: 20px;
            background-color: #c1c1c1;
            color: white;
            position: relative;

            > span {
                z-index: 1;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .shipping-percent {
                position: absolute;
                height: 100%;
                background: green;
                left: 0;
                top: 0;
                border-radius: 0 20px 20px 0;
            }

            i {
                margin-right: 10px;
                font-size: 1.3em;

                &:before {
                    color: white;
                }
            }
        }
    }
}
