<!-- ko if: cart().isModuleEnabled -->
<div class="block-free-shipping">
    <span>
        <i class="icon-shipping"></i>
        <!-- ko if: cart().percentValue == '100%' -->
        <!-- ko i18n: 'FREE SHIPPING' --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: cart().percentValue != '100%' -->
        <strong data-bind="html: cart().valueRemaining"></strong><!-- ko i18n: ' left for free shipping' --><!-- /ko -->
        <!-- /ko -->
    </span>
    <!-- ko if: cart().percentValue == '100%' -->
    <div class="shipping-percent full" data-bind="attr: {style: 'width:' + cart().percentValue }"></div>
    <!-- /ko -->
    <!-- ko if: cart().percentValue != '100%' -->
    <div class="shipping-percent" data-bind="attr: {style: 'width:' + cart().percentValue }"></div>
    <!-- /ko -->
</div>
<!-- /ko -->
